<%= render "shared/header"%>
<h2>ユーザー編集</h2>
<%= form_with model: @user, url: user_path(@user.id), local: true do |f| %>

<%= render "shared/error_messages", model: f.object %>

  <div class="field">
    <%= f.label :nickname, "ニックネーム" %><br>
    <%= f.text_area :nickname, id:"nickname", placeholder:"(例) abc 10文字まで", maxlength:"10" %>
  </div>

  <div class="field">
    <%= f.label :image, "アイコン画像" %><br>
    <%= f.file_field :image, id:"photo-image" , autocomplete: "アイコン画像"  %>
    <div id="image-list"></div>
  </div>

  <div class="field">
    <%= f.label :concept, "自己紹介"  %><br />
    <%= f.text_area :concept, autofocus: true, placeholder: "(例) はじめまして。"  %>
  </div>

  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
