<%= render "shared/header" %>

<div class='main'>
  <div class="profile-contents">
    <div class = "profile-content">
      <div class = "user-image">
        <% if @user.image.attached? %>
        <%= image_tag @user.image,class:"circle-image" %>
        <% else %>
        <%= image_tag("sample4.jpg",class:"circle-image")%>
        <% end %>
      </div>
      <div class="profile">
        <div class="user-name-btn">
          <% if user_signed_in? && current_user.id %>
            <div class = "user-name"> <%= @user.nickname %> </div>
          <% else %>
            <div class = "user-name"> ユーザー </div>
          <% end %>
          <% if params[:id].nil? || @user.id == current_user.id %>
            <div class="form-btn">
            <%= link_to "編集する" , edit_user_registration_path(current_user.id), class:"form--btn" %>
            </div>
          <% end %>
        </div>
        <% if @user != nil %>
        <div class="number-info">
          <div class = "number-post">投稿件数 <%= current_user.photos.count %> 件 </div>
          <% end %>

          <%# 未実装 %>
          <div class = "number-follower"> フォロワー 53人 </div>
          <div class = "number-follow"> フォロー中 65人 </div>
          <%# 未実装 %>

        </div>
        <% if @user.concept != nil %>
        <div class = "user-concept">
          <div class ="concept">
          <%= @user.concept %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class = "photo-contents">
    <ul class="photos-lists">
    <% if @photos != nil %>
        <% @photos.each do |photo| %>
        <li class='photo-content'>
          <div class="photo-img-content">
            <div class="slider">
              <% photo.images.each do |image| %>
                <%= link_to "#" do %>
                <%= image_tag image.variant(gravity: :center, resize:"350x350^", crop:"350x350+0+0"), class: 'photo-img'%>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class='star-btn'>
            <%= image_tag "star.png", class:"star-icon" %>
            <span class='star-count'>0</span>
          </div>
        </li>
        <% end %>
      <% else %>
      <li class='photo-content'>
        <%= image_tag "sample1.jpg", class: "photo-img" %>
        <div class='star-btn'>
          <%= image_tag "star.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </li>
      <li class='photo-content'>
        <%= image_tag "sample2.jpg", class: "photo-img" %>
        <div class='star-btn'>
          <%= image_tag "star.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </li>
      <li class='photo-content'>
        <%= image_tag "sample3.jpg", class: "photo-img" %>
        <div class='star-btn'>
          <%= image_tag "star.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </li>
      <li class='photo-content'>
        <%= image_tag "sample4.jpg", class: "photo-img" %>
        <div class='star-btn'>
          <%= image_tag "star.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </li>
      <li class='photo-content'>
        <%= image_tag "sample5.jpg", class: "photo-img" %>
        <div class='star-btn'>
          <%= image_tag "star.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </li>
      <li class='photo-content'>
        <%= image_tag "sample6.jpg", class: "photo-img" %>
        <div class='star-btn'>
          <%= image_tag "star.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
</div>

<%# <%= render "shared/footer" %>

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>
