<%= render "shared/header" %>

<div class='main'>
  <div class="profile-contents">
    <div class = "profile-content">
      <div class = "user-image">
        <div class = "circle-image">
        <%# <%= f.file_field :images, id:"photo-image" %>
        </div>
      </div>
      <%= form_with model: @user, url: "#", class: 'profile', local: true do |f| %>

      <div class="user-name-btn">
        <div class = "user-name"> <%= @nickname %> </div>
        <div class="form-btn">
          <%= f.submit "編集する", class:"form--btn" %>
        </div>
      </div>
      <div class="number-info">
        <div class = "number-post"> 投稿件数  件 </div>
        <div class = "number-follower"> フォロワー 53人 </div>
        <div class = "number-follow"> フォロー中 65人 </div>
      </div>
      <div class = "user-concept">
        <%= f.text_area :concept, class:"concept", placeholder:"例) はじめまして、都内を中心に活動している社会人です。"  %>

      <% end %>
      </div>
    </div>
  </div>


  <div class = "photo-contents">
    <ul class="photos-lists">
    <% if @photos != nil %>
        <% @photos.each do |photo| %>
        <li class='photo-content'>
          <div class="photo-img-content">
            <div class="slider">
              <% photo.images.each do |image| %>
                <%= link_to "#" do %>
                <%= image_tag image, class: 'photo-img'%>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class='star-btn'>
            <%= image_tag "star.png", class:"star-icon" %>
            <span class='star-count'>0</span>
          </div>
        </li>
        <% end %>
      <% else %>
      <li class='photo-content'>
        <%= image_tag "sample1.jpg", class: "photo-img" %>
        <div class='star-btn'>
          <%= image_tag "star.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </li>
      <li class='photo-content'>
        <%= image_tag "sample2.jpg", class: "photo-img" %>
        <div class='star-btn'>
          <%= image_tag "star.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </li>
      <li class='photo-content'>
        <%= image_tag "sample3.jpg", class: "photo-img" %>
        <div class='star-btn'>
          <%= image_tag "star.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </li>
      <li class='photo-content'>
        <%= image_tag "sample4.jpg", class: "photo-img" %>
        <div class='star-btn'>
          <%= image_tag "star.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </li>
      <li class='photo-content'>
        <%= image_tag "sample5.jpg", class: "photo-img" %>
        <div class='star-btn'>
          <%= image_tag "star.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </li>
      <li class='photo-content'>
        <%= image_tag "sample6.jpg", class: "photo-img" %>
        <div class='star-btn'>
          <%= image_tag "star.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
</div>

<%= render "shared/footer" %>

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>
