<%= render "shared/header" %>

<div class='main'>



  <div class="profile-contents">
    <div class = "profile-content">
      <div class = "user-image">
        <% if @user.image.attached? %>
        <%= image_tag @user.image,class:"circle-image" %>
        <% else %>
        <%= image_tag("default.jpg",class:"circle-image")%>
        <% end %>
      </div>
      <div class="profile">


        <div class="user-name-btn">
          <% if user_signed_in? && current_user.id %>
            <div class = "user-name"> <%= @user.nickname %> </div>
          <% else %>
            <div class = "user-name"> ユーザー </div>
          <% end %>
          <% if params[:id].nil? || @user.id == current_user.id %>
            <div class="form-btn">
            <%= link_to "編集する" , edit_user_registration_path(current_user.id), class:"form--btn" %>
            </div>
          <% end %>
        </div>
        <div class="number-info">
            <div class = "number-post">投稿件数 <%= @user.photos.count %> 件 </div>

          <div class = "number-follower"><%= "フォロー数 #{@user.follower.count} 人" %></div>
          <div class = "number-follow"><%= "フォロワー数 #{@user.followed.count} 人" %></div>

          <% unless @user == current_user %>
            <% if current_user.following?(@user) %>
              <%= link_to 'フォローを外す', unfollow_path(@user.id), method: :POST %>
            <% else %>
              <%= link_to 'フォローする', follow_path(@user.id), method: :POST %>
            <% end %>
          <% end %>
        </div>
        <% if @user.concept.present? %>
        <div class = "user-concept">
          <div class ="concept">
          <%= @user.concept %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class = "photo-contents">
    <ul class="photos-lists">
    <% if @photos.present? %>
        <% @photos.each do |photo| %>
        <%= render partial: "shared/photo", locals: { photo: photo } %>
        <% end %>
    <% else %>
      <br>
      写真が投稿されていません
      <br>
    <% end %>
    </ul>
  </div>
</div>


<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>
