<%= render "shared/header" %>

<div class='main-gallery'>
<p><%= @nickname %>さんの投稿一覧</p>
  <ul class="photos-lists">
  <% if @photos != nil %>
    <% @photos.each do |photo| %>
    <li class='list'>
      <%= link_to "#photoの詳細ページ" %>
      <div class='photo-img-content'>
        <%= image_tag photo.image, class: 'photo-img' %>
        <div class='star-btn'>
          <%= image_tag "star.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </div>
    </li>
    <% end %>
  <% else %>
    <li class='list'>
      <%= image_tag "sample1.jpg", class: "photo-img" %>
      <%= image_tag "sample2.jpg", class: "photo-img" %>
      <%= image_tag "sample3.jpg", class: "photo-img" %>
      <%= image_tag "sample4.jpg", class: "photo-img" %>
      <%= image_tag "sample5.jpg", class: "photo-img" %>
      <%= image_tag "sample6.jpg", class: "photo-img" %>
      <div class='star-btn'>
        <%= image_tag "star.png", class:"star-icon" %>
        <span class='star-count'>0</span>
      </div>
    </li>
  <% end %>
  </ul>
</div>

<%= render "shared/footer" %>

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>
