<header>
  <nav id="main-menubar">
    <ul class="menu">
      <li class='list-menu'>
        <%= link_to 'Top page', root_path, class: "toppage" %>
        <%= link_to 'Search',  photos_search_photos_path, class: "serch" %>
      <% if user_signed_in? %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
        <%= link_to '投稿する', new_photo_path, class: "post" %>
      <% else %>
        <%= link_to '新規登録',new_user_registration_path, class: "signin" %>
        <%= link_to 'ログイン', new_user_session_path , method: :get, class: "login" %>
      <% end %>
      </li>
    </ul>
    <ul class="icon">
      <% if user_signed_in? && current_user.id && current_user.image.attached? %>
        <li>
          <%= link_to user_path(current_user.id) do %>
          <%= image_tag current_user.image,class:"circle-image" %>
          <% end %>
        </li>
      <% else %>
        <li><%= link_to image_tag("default.jpg", class:"circle-image"),user_path(current_user.id) %></li>
      <% end %>
        <li><%= link_to image_tag("icon_facebook.png", class:"icon"),"/" %></li>
        <li><%= link_to image_tag("icon_twitter.png", class:"icon"),"/" %></li>
        <li><%= link_to image_tag("icon_instagram.png", class:"icon"),"/" %></li>
        <li><%= link_to image_tag("icon_youtube.png", class:"icon"),"/" %></li>
    </ul>
  </nav>
</header>