<div class='main-gallery'>
<h2 class='title'>Pick Up Photos</h2>

  <ul class="photos-lists">
  <% if @photos != nil %>
    <% @photos.each do |photo| %>
    <li class='list'>
      <%= link_to "#photoの詳細ページ" do %>
      <div class='photo-img-content'>
        <%= image_tag photo.image, class: 'photo-img' %>
        <div class='star-btn'>
          <%= image_tag "star.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </div>
      <% end %>
    </li>
    <% end %>
  <% else %>
    <li class='list'>
      <%= image_tag "sample1.jpg", class: "photo-img" %>
      <%= image_tag "sample2.jpg", class: "photo-img" %>
      <%= image_tag "sample3.jpg", class: "photo-img" %>
      <%= image_tag "sample4.jpg", class: "photo-img" %>
      <%= image_tag "sample5.jpg", class: "photo-img" %>
      <%= image_tag "sample6.jpg", class: "photo-img" %>
      <div class='star-btn'>
        <%= image_tag "star.png", class:"star-icon" %>
        <span class='star-count'>0</span>
      </div>
    </li>
  <% end %>
  </ul>
</div>