<div class="top-header">
  <h1 class="logo"><%= link_to image_tag("logo.png", class:"top-image"), "/" %></h1>
  <nav id="menubar">
    <ul>
      <li><%= link_to 'My Page', "photos#index", class: "mypage" %> </li>
      <li><%= link_to 'Post', "#", class: "post" %> </li>
      <li><%= link_to 'Serch', "#", class: "serch" %> </li>
      <li><%= link_to 'Show Page', "#", class: "show page" %> </li>
    </ul>
  </nav>
</div>