<div class="top-header">
  <%= link_to root_path, class:"top-image" do %>
    <%= image_tag "logo.png" %>
  <% end %>
  <nav id="menubar">
    <ul class="menubar-list">
        <li><%= link_to 'Search', photos_search_photos_path, class: "serch" %></li>
      <% if user_signed_in? %>
        <li><%= link_to 'My Page', user_path(current_user.id), class: "mypage" %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "logout"%></li>
        <li><%= link_to 'Post', new_photo_path , class: "post" %></li>
      <% else %>
        <li><%= link_to 'Signin',new_user_registration_path, class: "signin" %></li>
        <li><%= link_to 'Login', new_user_session_path , method: :get, class: "login" %></li>
      <% end %>
    </ul>
  </nav>
</div>

<div class='main'>
  <p>Pick Up Photos</p>
    <ul class="photos-lists">
    <% if @photos != nil %>
      <% @photos.each do |photo| %>
      <li class='photo-content'>
        <div class="photo-img-content">
          <div class="slider">
            <% photo.images.each do |image| %>
              <%= link_to "#" do %>
              <%= image_tag image, class: 'photo-img'%>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class='star-btn'>
          <%= image_tag "star.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </li>
      <% end %>
    <% else %>
      <li class='photo-content'>
      <%= image_tag "sample1.jpg", class: "photo-img" %>
      <div class='star-btn'>
        <%= image_tag "star.png", class:"star-icon" %>
        <span class='star-count'>0</span>
      </div>
    </li>
    <li class='photo-content'>
      <%= image_tag "sample2.jpg", class: "photo-img" %>
      <div class='star-btn'>
        <%= image_tag "star.png", class:"star-icon" %>
        <span class='star-count'>0</span>
      </div>
    </li>
    <li class='photo-content'>
      <%= image_tag "sample3.jpg", class: "photo-img" %>
      <div class='star-btn'>
        <%= image_tag "star.png", class:"star-icon" %>
        <span class='star-count'>0</span>
      </div>
    </li>
    <li class='photo-content'>
      <%= image_tag "sample4.jpg", class: "photo-img" %>
      <div class='star-btn'>
        <%= image_tag "star.png", class:"star-icon" %>
        <span class='star-count'>0</span>
      </div>
    </li>
    <li class='photo-content'>
      <%= image_tag "sample5.jpg", class: "photo-img" %>
      <div class='star-btn'>
        <%= image_tag "star.png", class:"star-icon" %>
        <span class='star-count'>0</span>
      </div>
    </li>
    <li class='photo-content'>
      <%= image_tag "sample6.jpg", class: "photo-img" %>
      <div class='star-btn'>
        <%= image_tag "star.png", class:"star-icon" %>
        <span class='star-count'>0</span>
      </div>
    </li>
  <% end %>
  </ul>
</div>
<%# 投稿写真一覧 %>

<%= render "shared/footer" %>

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="slick/slick.min.js"></script>
    <script>
    $(document).ready(function(){
      $('.slide').slick();
    });
    </script>