<div class="top-header">
  <h1 class="logo"><%= link_to image_tag("logo.png", class:"top-image"), "/" %></h1>
  <nav id="menubar">
    <ul class="menubar-list">
        <li><%= link_to 'Serch', photos_search_path, class: "serch" %></li>
      <% if user_signed_in? %>
        <li><%= link_to 'My Page', user_path(current_user.id), class: "mypage" %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "Logout"%></li>
        <li><%= link_to 'Post', new_photo_path , class: "post" %></li>
      <% else %>
        <li><%= link_to 'Signin',new_user_registration_path, class: "Signin" %></li>
        <li><%= link_to 'Login', new_user_session_path , method: :post, class: "Login" %></li>
      <% end %>
    </ul>
  </nav>
</div>