<div class="top-header">
<%= image_tag "back4.jpg" , class: 'top-header-sized'%>
  <%= link_to new_photo_path, class:"top-image" do %>
    <%= image_tag "logo.svg" %>
  <% end %>
  <nav id="menubar">
    <ul class="menubar-list">
        <li><%= link_to 'Search', photos_search_photos_path, class: "serch" %></li>
      <% if user_signed_in? %>
        <li><%= link_to 'My Page', user_path(current_user.id), class: "mypage" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"%></li>
        <li><%= link_to '投稿する', new_photo_path , class: "post" %></li>
      <% else %>
        <li><%= link_to '新規登録',new_user_registration_path, class: "signin" %></li>
        <li><%= link_to 'ログイン', new_user_session_path , method: :get, class: "login" %></li>
      <% end %>
    </ul>
  </nav>
</div>


<div class='main'>
  <p>Pick Up Photos</p>
    <ul class="photos-lists">
    <% if @photos.present? %>
      <% @photos.each do |photo| %>
      <%= render partial: "shared/photo", locals: { photo: photo } %>
      <% end %>
    <% else %>
    <br>
    写真が投稿されていません
    <br>
  <% end %>
  </ul>
</div>
<%# 投稿写真一覧 %>


<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="slick/slick.min.js"></script>
    <script>
    $(document).ready(function(){
      $('.slide').slick();
    });
    </script>