<%= render "shared/header" %>

<div class='main'>
  <%# 写真検索 %>
  <div class="map-form-search">

    <%# MAP検索 %>
    <div class= "map-search">
      <div id="map-container"></div>
    </div>
    <%# MAP検索 %>

    <%# 詳細検索 %>


    <div class="form-search">
        <div class="form-container">詳細検索</div>
        <%= search_form_for @p, url: photos_search_photos_path do |f| %>
        <div class="form-container cp_sl01 ">
          <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name,  :include_blank => '撮影場所' %>
        </div>
        <div class="form-container cp_sl01 ">
          <%= f.collection_select :situation_id_eq, Situation.all, :id, :name, :include_blank => '撮影状況'%>
        </div>
        <div class="form-container cp_sl01 ">
          <%= f.collection_select :weather_id_eq, Weather.all, :id, :name, :include_blank => '天気'%>
        </div>
        <div class="form-container cp_sl01 ">
          <%= f.collection_select :month_id_eq, Month.all, :id, :name, :include_blank => '撮影月'%>
        </div>
        <div class="form-container cp_sl01 ">
          <%= f.collection_select :camera_id_eq, Camera.all, :id, :name, :include_blank => 'カメラメーカー'%>
        </div>
        <div class="form-container cp_sl01 ">
          <%= f.collection_select :lens_id_eq, Len.all, :id, :name, :include_blank => 'レンズの種類'%>
        </div>
        <div class="submit">
          <%= f.submit "検索" ,class:"btn-flat-border" %>
        </div>
        <% end %>
      
    </div>
    <%# 詳細検索 %>

  </div>
  <%# 写真検索 %>

  <%# 検索結果 %>
  <br>
  <br>
  <div class='main'>
  <ul class="photos-lists">
  <% if @results.length != 0 %>
    <% @results.each do |result| %>
        <li class='photo-content'>
          <div class="photo-img-content">
            <div class="slider">
              <% result.images.each do |image| %>
                <%= link_to "#" do %>
                <%= image_tag image.variant(gravity: :center, resize:"350x350^", crop:"350x350+0+0"), class: 'photo-img'%>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class='star-btn'>
            <%= image_tag "star.png", class:"star-icon" %>
            <span class='star-count'>0</span>
          </div>
        </li>
    <% end %>
  <% else %>
    <br>
    該当する写真はありません
    <br>
  <% end %>
  </ul>
</div>
<%# 検索結果 %>

</div>


<%= render "shared/footer" %>

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>