<%= render "shared/header" %>

<div class='main'>
<h1>
  写真検索
</h1>
<%= search_form_for @p, url: photos_search_path do |f| %>
  <%= f.label :situation_id_eq, 'シチュエーション' %>
  <%= f.collection_select :situation_id_eq, Situation.all, :id, :name %>
  <br>
  <%= f.submit '検索' %>
    <br>
<% end %>

<h1>
  検索結果
</h1>
<%# 検索結果の個数で条件分岐 %>
<% if @results.length !=0 %>
  <% @results.each do |result| %>
    <td>
    <br>
    <li>
      <%= result.name %>
      <%= result.size %>
      <%= result.status %>
      <%= result.price %>
      <%= result.category.name %>
    </li>
  <% end %>
<% else %>
  該当する写真はありません
  <br>
  <%# 商品一覧 %>
  <% @photos.each do |photo| %>
    <ul class="photos-lists">
      <li class='photo-content'>
        <div class="photo-img-content">
          <% photo.images.each do |image| %>
            <%= link_to "#" do %>
              <%= image_tag image, class: 'photo-img'%>
            <% end %>
          <% end %>
        </div>
        <div class='star-btn'>
          <%= image_tag "star.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </li>
    </ul>
  <% end %>
  <% end %>
</div>


<%= render "shared/footer" %>

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>